apiVersion: v1
kind: Service
metadata:
  name: api-mel
  namespace: mel
  selfLink: /api/v1/namespaces/mel/services/api-mel
  labels:
    {{- include "api-mel.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: 3001
      name: http
  selector:
    api-mel
